#define FLIPSHIFT(name, key) ZMK_MOD_MORPH(name,\
   bindings = <&kp LS(key)>, <&kp key>;\
   mods = <(MOD_LSFT|MOD_RSFT)>;\
)

// Numbers on SHIFT
FLIPSHIFT(fl_0, N0)
FLIPSHIFT(fl_1, N1)
FLIPSHIFT(fl_2, N2)
FLIPSHIFT(fl_3, N3)
FLIPSHIFT(fl_4, N4)
FLIPSHIFT(fl_5, N5)
FLIPSHIFT(fl_6, N6)
FLIPSHIFT(fl_7, N7)
FLIPSHIFT(fl_8, N8)
FLIPSHIFT(fl_9, N9)
