#include "common.dtsi"

NOSHIFT(_ns_left, LEFT)  // LEFT arror even with SHIFT
NOSHIFT(_ns_apos, APOS)  // APOS even with SHIFT

// double quotes, cursor inside
ZMK_MACRO(_dquotes, bindings = <&kp DQT &kp DQT &_ns_left>; )
ZMK_MACRO(_squotes, bindings = <&kp APOS &kp APOS &_ns_left>; )
ZMK_MACRO(braces, bindings = <&kp LBRC &kp RBRC &kp LEFT>; )
ZMK_MACRO(parens, bindings = <&kp LPAR &kp RPAR &kp LEFT>; )
ZMK_MACRO(brackets, bindings = <&kp LBKT &kp RBKT &kp LEFT>; )
ZMK_MACRO(_angles, bindings = <&kp LT &kp GT &kp LEFT>; )

// flip SQT and DQT
ZMK_TAP_DANCE(_td_squotes, bindings = <&_ns_apos>, <&_squotes>; )     // APOS, single quotes if tapped
ZMK_TAP_DANCE(_td_dquotes, bindings = <&kp DQT>, <&_dquotes>; )       // DQT, double quotes if tapped
ZMK_MOD_MORPH(quotes,
    bindings = <&_td_dquotes>, <&_td_squotes>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Tap COMMA for pair of angle brackets
ZMK_TAP_DANCE(comma, bindings = <&kp COMMA>, <&_angles>; )
