#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/adv360.h"

#define KEYS_L LN0 LN1 LN2 LN3 LN4 LN5 LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  LH0 LH1 // left hand
#define KEYS_R RN0 RN1 RN2 RN3 RN4 RN5 RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  RH0 RH1 // right hand
#define THUMBS LH1 LH0 RH0 RH1

/ {
    macros {
        #include "version.dtsi"

        macro_squotes: macro_squotes {
            compatible = "zmk,behavior-macro";
            display-name = "macro_quotes";
            #binding-cells = <0>;
            bindings = <&kp APOS &kp APOS &ns_left>;
        };

        macro_dquotes: macro_dquotes {
            compatible = "zmk,behavior-macro";
            display-name = "macro_quotes";
            #binding-cells = <0>;
            bindings = <&kp DQT &kp DQT &ns_left>;
        };

        macro_braces: macro_braces {
            compatible = "zmk,behavior-macro";
            display-name = "macro_braces";
            #binding-cells = <0>;
            bindings = <&kp LBRC &kp RBRC &kp LEFT>;
        };

        macro_parens: macro_parens {
            compatible = "zmk,behavior-macro";
            display-name = "macro_parens";
            #binding-cells = <0>;
            bindings = <&kp LPAR &kp RPAR &kp LEFT>;
        };

        macro_brackets: macro_brackets {
            compatible = "zmk,behavior-macro";
            display-name = "macro_brackets";
            #binding-cells = <0>;
            bindings = <&kp LBKT &kp RBKT &kp LEFT>;
        };

        Win_Snip_Tool: Win_Snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LG(S))>;
            display-name = "Windows Screen Snip";
        };

        Double_Click: Double_Click {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&mkp MB1 &mkp MB1>;
            display-name = "Double Click";
        };
    };

    behaviors {
        // Homerow mods
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_MOD";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_MOD_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            retro-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < KEYS_R >; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            display-name = "HOMEROW_MOD_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            retro-tap;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < KEYS_L >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };

        // SHIFT: double-tap activates CAPS_LOCK

        td_sc: tap_dance_shift_caps {
            compatible = "zmk,behavior-tap-dance";
            display-name = "TD: Shift, Capslock";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };

        // KP: double-tap activates permanently

        td_kp: tap_dance_keypad {
            compatible = "zmk,behavior-tap-dance";
            display-name = "TD: Keypad";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&tog 1>;
        };

        // SHIFT+BSP = DELETE

        bsp_del: mo_backspace_delete {
            compatible = "zmk,behavior-mod-morph";
            display-name = "BACKSPACE / DEL";
            bindings = <&kp BACKSPACE>, <&kp DEL>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Pipe

        fl_pipe: flip_pipe {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP PIPE";
            bindings = <&kp PIPE>, <&kp BACKSLASH>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Quotes

        ns_apos: no_shift_apos {
            compatible = "zmk,behavior-mod-morph";
            display-name = "_no_shift_apos";
            bindings = <&kp APOS>, <&kp APOS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ns_left: no_shift_left {
            compatible = "zmk,behavior-mod-morph";
            display-name = "_no_shift_left";
            bindings = <&kp LEFT>, <&kp LEFT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };


        td_squote: tap_dance_squote {
            compatible = "zmk,behavior-tap-dance";
            display-name = "TD: SQuote";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&ns_apos>, <&macro_squotes>;
        };

        td_dquote: tap_dance_dquote {
            compatible = "zmk,behavior-tap-dance";
            display-name = "TD: DQuote";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp DQT>, <&macro_dquotes>;
        };


        fl_quote: flip_quote {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP QUOTE";
            bindings = <&td_dquote>, <&td_squote>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Flip tilde

        fl_tilde: fl_tilde {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP TILDE";
            bindings = <&kp TILDE>, <&kp GRAVE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Numbers with SHIFT

        fl_1: flip_1 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 1";
            bindings = <&kp LS(N1)>, <&kp N1>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_2: flip_2 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 2";
            bindings = <&kp LS(N2)>, <&kp N2>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_3: flip_3 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 3";
            bindings = <&kp LS(N3)>, <&kp N3>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_4: flip_4 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 4";
            bindings = <&kp LS(N4)>, <&kp N4>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_5: flip_5 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 5";
            bindings = <&kp LS(N5)>, <&kp N5>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_6: flip_6 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 6";
            bindings = <&kp LS(N6)>, <&kp N6>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_7: flip_7 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 7";
            bindings = <&kp LS(N7)>, <&kp N7>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_8: flip_8 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 8";
            bindings = <&kp LS(N8)>, <&kp N8>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_9: flip_9 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 9";
            bindings = <&kp LS(N9)>, <&kp N9>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fl_0: flip_0 {
            compatible = "zmk,behavior-mod-morph";
            display-name = "FLIP 0";
            bindings = <&kp LS(N0)>, <&kp N0>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp EQUAL  &fl_1       &fl_2       &fl_3        &fl_4         &fl_5  &td_kp                                                    &mo 3      &fl_6  &fl_7         &fl_8        &fl_9       &fl_0              &kp MINUS
&kp TAB    &kp Q       &kp W       &kp E        &kp R         &kp T  &kp SPACE                                                 &none      &kp Y  &kp U         &kp I        &kp O       &kp P              &fl_pipe
&kp ESC    &hm LGUI A  &hm LALT S  &hm LCTRL D  &hml LSHFT F  &kp G  &kp RET    &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H  &hmr LSHFT J  &hm LCTRL K  &hm LALT L  &hm LEFT_GUI SEMI  &fl_quote
&td_sc     &kp Z       &kp X       &kp C        &kp V         &kp B                        &kp HOME      &kp PG_UP                        &kp N  &kp M         &kp COMMA    &kp DOT     &kp FSLH           &kp RSHFT
&mo 2      &fl_tilde   &kp CAPS    &kp LEFT     &kp RIGHT            &bsp_del   &kp TAB    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE         &kp UP        &kp DOWN     &kp LBKT    &kp RBKT           &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none       &none         &none
&studio_unlock  &none         &none         &none         &none         &tog 4        &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none       &none         &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none       &none         &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none       &none         &none
            >;
        };

        game {
            display-name = "Game";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &kp A   &kp S   &kp D   &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans          &trans          &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
            >;
        };
    };
};
