tdsc: tap_dance_shift_caps {
    compatible = "zmk,behavior-tap-dance";
    label = "TD: Shift, Capslock";
    #binding-cells = <0>;
    tapping-term-ms = <200>;
    bindings = <&kp LSHFT>, <&kp CAPS>;
};
